{% extends 'base.html.twig' %}

{% block title %}Mis Tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Mis Tareas:</h2>
    {{ include('includes/tasks-list.html.twig') }}

    

</div>
{% endblock %}
